.task-item{
    padding: 8px;
    transition: transform 250ms;
    
}
.task-item:hover{
    transform: scale(1.1);
    background-color: #a5e8e6;
    /* background-color: #ca86f7; */
    cursor: pointer;
    padding: 16px 8px;
}